[Unit]
Description=PS1 OSD Laucher
After=basic.target

[Service]
Type=simple
User=douglasdans
WorkingDirectory=/home/douglasdans/ps1-osd-laucher
Environment=SDL_VIDEODRIVER=kmsdrm
Environment=SDL_FBDEV=/dev/fb0
ExecStart=/usr/bin/python3 /home/douglasdans/ps1-osd-laucher/launcher.py
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
