[Unit]
Description=PS1 OSD Laucher
After=multi-user.target network-online.target
Wants=network-online.target

[Service]
Type=simple
User=douglasdans
WorkingDirectory=/home/douglasdans/ps1-osd-laucher
Environment=SDL_VIDEODRIVER=kmsdrm
Environment=SDL_FBDEV=/dev/fb0
Environment=SDL_AUDIODRIVER=alsa
ExecStartPre=-/usr/bin/git -C /home/douglasdans/ps1-osd-laucher pull
ExecStart=/usr/bin/python3 /home/douglasdans/ps1-osd-laucher/launcher.py
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
